<section class="about">
  <img src="img/bildjen.jpg" class="about__img" alt="no photo">
  <div class="about__text bg-gray">
    <div class="headline">
      <h1>About me</h1>
    </div>
    <div class="content">
      <p>Lorem ipsum dolor, sit amet adipisicing elit. Eligendi, qui! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Laboriosam, debitis amet reprehenderit qui corporis laudantium nisi aliquam in et praesentium voluptatibus officiis,
        eos dolores commodi ratione nemo vel quam consequuntur?
      </p>
    </div>
  </div>
</section>