.btn {
  width: 10em;
  padding: 4px 12px;
  background: deepskyblue;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  margin: 5px;
}

.btn:hover {
  background: gray;
}
