.header {
  padding: 10px;
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 0 11px 22px -6px rgba(0, 0, 0, 0.4);
}

.headerboxlayout {
  background-image: linear-gradient(60deg, greenyellow 40px, red, blue);
}
