@import "header";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}

.about__img {
  width: 100%;
  display: block;
  border-radius: 50px;
}

.about__text {
  padding: 20px;
}

.skills {
  background: gainsboro;
  padding: 0 20px 20px;
  flex-shrink: 0;
  min-width: 280px;
  /* 
    Fix collapsing margins
    https://www.sitepoint.com/collapsing-margins/
   */
  overflow: auto;
}

@media screen and (min-width: 768px) {
  body {
    width: 80%;
  }

  .about {
    display: flex;
    margin-bottom: 20px;
  }

  .whoami {
  }
}

@media screen and (min-width: 1024px) {
  .row {
    display: flex;
  }

  .about {
    margin: 0 20px 0 0;
  }

  .skills {
    flex-shrink: 1;
    min-width: 240px;
  }

  .whoami {
  }
}

.bg-gray {
  background: gainsboro;
}

.boxlayout {
  background-color: gainsboro;
  padding: 20px;
  margin: 20px;
}

@import "_buttons";

.col1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@import "_list";

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.shadow {
  box-shadow: 0 11px 22px -6px rgba(0, 0, 0, 0.4);
}

.white {
  color: white;
}

.whoami {
  text-align: center;
}
